@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width:100%;
    height:100vh;
    user-select: none;
}
.create{
    position: absolute;
    top:10%;
    left:5%;
}
.create input[type=button]{
    border: none;
    outline: none;
    padding:4px 8px;
    background: rgb(64, 134, 225);
    color:#fff;
    border-radius: 4px;
    cursor: pointer;
    height:30px;
}
.create input[type=button]:hover{
    background: rgb(50, 108, 184);
}
.upload{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:300px;
    display: block;
    width:400px;
    border-radius: 4px;
    background: #fff;
    border: 2px solid rgba(239, 239, 239, 0.388);
    display: none;
}
.upload .top{
    width:100%;
    height:30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.upload .right{
    float:right;
    width:50%;
    padding:4px;
}
.upload .left{
    width:50%;
    padding:4px;
    padding-left:14px;
}
.upload .a{
    display: flex;
    margin-top: 8px;
    font-size: 14px;
    margin-left: 8px;
}
.upload .details input[type=text]{
    width:80%;
    margin-top: 4px;
    outline: none;
    border-radius: 4px;
    border:1px solid #d8cece;
    height:32px;
    padding:8px 12px;
}
.upload .details input[type=text]:hover{
    border:2px solid blue;
}
.upload .file{
    position: absolute;
    bottom:5%;
    left:4%;
    width:100px;
    background: #909f67;
    color:#fff;
    padding:6px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}
.upload .file:hover{
    background: #616d3f;
}
.upload input[type=file]{
    display: none;
}
.upload .below{
    position: absolute;
    bottom:4%;
    right:6%;
    display: flex;
}
.upload .below .cnc,.below button{
    width:80px;
    padding:6px;
    border-radius: 4px;
    outline: none;
    border:none;
    font-size: 14px;
    color:#fff;
    cursor: pointer;
}
.upload .below .cnc{
    background: rgb(248, 52, 52);
}
.upload .below .cnc:hover{
    background: red;
}
.upload .below button{
    margin-left:20px;
    background: rgb(17, 132, 247);
}
.upload .below button:hover{
    background: blue;
}

/* table */
.box{
    width:80%;
    height:auto;
    padding:8px; 
    position: absolute;
    top:20%;
    left:3%;
    /* display: none; */
}
.box .cont{
    border-collapse:collapse;
    margin:25px 0;
    font-size:1em;
    min-width: 300px;
    text-align: left;
}
.box .cont td{
    padding:18px 6px;
}
.box .cont tbody tr{
    /* border-bottom: 1px solid #b1b1b147; */
    border-radius: 4px;
}
.box table tbody tr td .post{
    width:300px;
    margin:auto;
    background: yellow;
    text-align: center;
    font-size: 16px;
}
.box table tbody tr td .des{
    padding:4px;
}
.box table tbody tr td .post .img{
    width:280px;
    height:200px;
    /* background: blue; */
    display: flex;
    margin:auto;
    text-align: center;
}
.box table tbody tr td button{
    margin-top: 6px;
    margin-bottom: 6px;
    width:100px;
    padding:6px;
    border-radius: 4px;
    outline: none;
    border:none;
    font-size: 14px;
    color:#fff;
    cursor: pointer;
    background: rgb(17, 185, 5);
}
.box table tbody tr td button:hover{
    background: rgb(14, 147, 4);
}
